<a href="https://colab.research.google.com/github/geunkim/Python/blob/master/Code/Numpy_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy

다차원 배열를 데이터로 나타내는데 특화된 라이브러리

파이썬은 배열 자료형을 제공하지 않는다. 배열을 구현한 다른 패키지를 임포트하여야 한다. 파이쎤에서 배열을 사용하기 위한 표준 패키지는 NumPy이다. NumPy는 수치해석용 파이쎤 패키지로 다차원 배열 자료구조 클래스인 ndarray 클래스를 지원하며 벡터와 행렬을 사용하는 선형대수 계산에 주로 사용된다. NumPy의 배열 연산은 C로 구현된 내부 반복문을 사용해서 파이썬 반복문에 비해 속도가 빠르고 벡터 연산을 통해 간단한 코드로도 복잡한 선형대수 연산을 수행할 수 있다.

In [0]:
# numpy 를 np 로 import 
# 이 임포트 문장 실행 후 numpy의 기능은 np를 통해 실행 가능 
import numpy as np

### **숫자 자료형** 

**1. 학생 3명의 성적의 평균을 구하는 프로그램**

In [0]:
# 학생 3명의 성적을 저장할 수 있는 변수 선언과 성적으로 초기화 (성적을 저장)
Score1 = 10
Score2 = 20
Score3 = 30

앞에 선언한  Score1, Score2, Score3 의 값의 합과 평균을 구하고 출력하기 위한 코드는 다음과 같다.

In [0]:
# 학생 3명의 성적을 사용하여 성적을 
Sum = Score1 + Score2 + Score3
Avg = Sum/3

print('Sum: {}'.format(Sum))
print('Aveage: {}'.format(Avg))

새로운 학생의 성적을 더 처리해야 한다면 새로운 변수를 선언하고 새롭게 평균을 구해야 한다. 이를 처리하기 위해서 추가되는 프로그램은 다음과 같다.

In [0]:
# 새롭게 추가된 학생의 성적을 저장하기 위한 변수 선언 및 저장 
Score4 = 30

추가된 학생의 성적을 이전 학생의 성적의 합을 저장한 변수에 더한다. 이전 합을 저장한 변수의 내용의 변경되었다면 새롭게 네 개의 성적을 다시 더해야 한다.

In [0]:
 Sum = Sum + Score4
 Avg = Sum / 4
 
print('새로운 학생의 성적을 포함한 합: {}'.format(Sum))
print('새로운 학생을 포함한 네 학생의 성적 평균: {}'.format(Avg))

**2**. 앞의 예를 리스트 자료형을 이용하여 해결해 봅시다. 리스트에 새로운 데이터의 추가는 append() 메소드를 통해서 한다.

In [0]:
Score = []
Score.append(10)
Score.append(20)
Score.append(30)
Score.append(40)

print(type(Score))
print(Score)

이제 데이터의 합과 평균을 구해봅시다.

In [0]:
listSum = 0
listAvg = 0

for d in Score:
  listSum += d

listAvg = listSum / len(Score)

print("합: {}".format(listSum))
print("평균: {}".format(listAvg))

4개의 데이터가 저장된 리스트 값 각각에 5를 더하고자 한다.

In [0]:
for i in range(len(Score)):
  Score[i] = Score[i] + 5

print(Score)

### 중첩 리스트(Nexted List)

In [0]:
NestedList = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(NestedList)